Write a Python program to convert kilometers to miles?

In [2]:
x = int(input("Enter the value of Kilometer:-"))
conv_factor=0.62137
miles = x*conv_factor
print("Value of Miles ", miles)

Enter the value of Kilometer:-120
Value of Miles  74.56439999999999

Write a Python program to convert Celsius to Fahrenheit?

In [3]:

f = int(input("Enter the value of farenheit:- "))
c = ((f-32)*5/9)
print("Value of Celcius",c)

Enter the value of farenheit:- 80
Value of Celcius 26.666666666666668

Write a Python program to solve quadratic equation?

In [4]:
import cmath  
a = float(input('Enter a: '))  
b = float(input('Enter b: '))  
c = float(input('Enter c: '))  
  
d = (b**2) - (4*a*c)  

sol1 = (-b-cmath.sqrt(d))/(2*a)  
sol2 = (-b+cmath.sqrt(d))/(2*a)  
print('The solution are {0} and {1}'.format(sol1,sol2))

Enter a: 10
Enter b: 5
Enter c: 6
The solution are (-0.25-0.733143914930759j) and (-0.25+0.733143914930759j)

Write a Python program to display calendar?

In [7]:
import calendar

month = int(input("Enter the Month:- "))
year = int(input("Enter the Year:- "))
print(calendar.month(year,month))

Enter the Month:- 5
Enter the Year:- 2022
      May 2022
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

Write a Python program to swap two variables without temp variable?

In [9]:
a =10
b=20
a,b = b,a
print(a)
print(b)

20
10