Write a Python program to print Hello Python?

In [ ]:
print("Hello World")

Hello World

Write a Python program to do arithmetical operations addition and division.?

In [ ]:
a =10
b =20
print("addition", a+b)
print("division", a/b)
print("subtraction", a-b)
print("multiplication", a*b)

addition 30
division 0.5
subtraction -10
multiplication 200

Write a Python program to find the area of a triangle?

In [ ]:
base = 20 
height= 120
area_of_triangle = 1/2 *base*height
print("area of triangle",area_of_triangle)

area of triangle 1200.0

Write a Python program to swap two variables?

In [14]:
num1 =10
num2 =20
temp =num1
num1=num2
num2=temp
print("number1" ,num1)
print("number2", num2)

number1 20
number2 10

Write a Python program to generate a random number?

In [ ]:
import random

print(random.randint(0,9))

2